* {
    text-align: center;
    font-family: "Georgia";
}

header, footer {
    background-color: tomato;
    color: mistyrose;
    padding: 10px;
}

nav {
    width: 20%;
    float: left;
}

nav > ul {
    padding: 0;
    margin: 0;
}

nav > ul > li {
    list-style: none;
    background-color: #FFAEA5;
    height: 170px;
    font-size: 200%;
}

nav > ul > li:first-child {
    background-color: mistyrose;
}

main {
    background-color: mistyrose;
    width: 80%;
    height: 510px;
    overflow: auto;
}

section:nth-of-type(2){
    display: none;
}

section:nth-of-type(3){
    display: none;
}

table { 
    margin: auto;
    width: 60%;
    border: 1px dashed indigo;
}

select, button {
    margin: 20px;
}

dt {
    font-weight: bold;
    font-style: italic;
}

dt:hover {
    font-size: 180%;
}